@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Montserrat:wght@400&family=Rubik+Vinyl&family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root {
    --main-bg-color: #ff5152;
  }
header{
    background-color: var(--main-bg-color);
}
nav{
    display: flex;
    align-items: center;
    
}
nav>h1{
    font-family: 'Rubik Vinyl';
    color: white;
    font-size: 2rem;
}
nav ul{
    height: 10vh;
}
nav ul li {
    list-style: none;
    padding: 1rem;
    font-family: 'Montserrat';
    font-size: 1em;
}
nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
    
}
nav ul li a:hover{
    font-weight: 900;
}
.search{
    display: flex;
    height: 1.5rem;
    
}
.search>input{
    width: 30vw;
    border: 1px solid black;
    border-radius: 2.8px;

padding: 10px;}

.container{
    min-height: calc(100vh - 20vh);
}
.slider{
    margin: auto;
    width: 80vw;
    margin-top: 2rem;
    overflow: hidden;
    
}
.cards{
    display: flex;
    align-items: center;
}
.card{
    /* background-color: chartreuse; */
    max-width: 80vw;
    margin: auto;
    font-family: 'Montserrat';
}
.card-item{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.35rem;
}

footer{
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Baloo Bhai 2';
    height: 10vh;
}
